<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card 2</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<style>
    * {
        font-family: 'Roboto', sans-serif;
    }
</style>
<body>
    <main class="container px-5 mx-auto mt-20 py-12">
        <section class="bg-blue-700 rounded-lg overflow-hidden shadow-lg w-full ring-4 ring-blue-200">
            <div class="flex flex-col-reverse md:flex-row items-stretch flex-wrap">
                <div class="md:w-3/6">
                    <div class="pr-6 md:pr-10 pl-6 md:pl-14 py-8 md:py-12">
                        <h1 class="text-3xl md:text-4xl text-white font-bold mb-4">Via "PerkTeam Kick-backs" you can get cash back</h1>
                        <p class="text-lg text-white leading-relaxed mb-8">I'm baby letterpress brooklyn woke wayfarers. Normcore venmo flexitarian, neutra cliche drinking vinegar iceland celiac tacos snackwave photo booth sustainable.</p>
                        <div>
                            <button class="py-3 px-6 rounded-full bg-white text-base font-bold text-blue-700 focus:outline-none focus:ring-4 ring-blue-300">Browse perks</button>
                        </div>
                    </div>
                </div>
                <div class="md:w-3/6">
                    <div class="md:pl-12 h-full w-full">
                        <img class="h-full w-full" src="../images/card-2-images.png" alt="hello"/>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>